/* Styles for body font in comic Sans for fun :0 */
body {
    margin: 0;
    padding: 0;
    font-family: 'Comic Sans MS', sans-serif;
  }
  
  header {
    width: 100%;
  }
  
  ul {
    list-style: none;
  }
  
  /* Navigation bar up top CSS */
  #nav_bar {
    float: right;
  }
  
  #nav_bar li {
    display: inline-block;
    padding: 8px;
  }
  
  #nav_bar #sign_in {
    background: Blue; 
    margin-right: 25px;
    padding: 7px 15px;
    border-radius: 3px; 
    font-weight: bold;
  }
  
  .nav-links {
    color: grey;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  li.nav-links a:hover {
    text-decoration: underline;
  }
  
  /* effect for hovering over sign in */
  #sign_in:hover { 
    box-shadow: 1px 1px 5px blue;
  }
  
  #sign_in {
    color: White;
  }
  
  /* Area with google image */
  .google #google_logo {
    text-align: center;
    display: block;
    margin: 0 auto;
    clear: both;
    padding-top: 112px;
    padding-bottom: 20px;
  }
  
  .form {
    text-align: center;
  }
  
  #form-search { 
    width: 450px;
    line-height: 32px;
    padding: 20px 10px;
  }
  
  .form #form-search {
    padding: 0 8px;
  }
  
  .buttons {
    text-align: center;
    padding-top: 30px;
    margin-bottom: 300px;
  }
  
  /* Footer CSS */
  footer  {
    background: grey;
    border-top: solid 2px #e4e4e4;
    bottom: 0;
    padding-bottom: 0;
    width: 100%;
    
  }
  
  footer ul li {
    display: inline;
    color: grey;
    font-size: 14px;
    padding: 13px;
  }
  
  footer ul {
    float: left;
    padding: 1px;
  }
  
  /*underlines footer element when mouse hovers over */
  footer ul a:hover {
    text-decoration: underline;
  }
  
  .footer-right {
    float: right;
  }
